/* spostamento contenuto */
.contenuto{
    position: absolute;
    top: 70px;
    height: 100%;
    width: calc( 100% - 260px );
    left: 0px;
    transition: all 0.5s ease;
}

.contenuto .testo{
    height: 100%;
    font-size: 25px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 12px;
}

nav.open .sidebar ~ .contenuto{
    width: calc( 100% - 260px );
    left: 260px;
}
