@media screen and (max-width: 480px) {

    *{

        /*border: 1px solid white;*/
    
    }
    
    body, html {

        /*border: 1px solid white;*/
    
    }
    
    .area {

        /*border: 1px solid white;*/
    
    }
    
    .box {

        /*border: 1px solid white;*/
    
    }
    
    .box0 {
        
        /*border: 1px solid white;*/
        
    }
    
    .banner-img {

        /*border: 1px solid white;*/
        
    }
    
    .titolo-img {

        font-size: 14px;
        /*border: 1px solid white;*/
        
    }
    
    .menu {

        text-align: center;
        top: 60%;
        right: 0%;
        left: 0%;
        bottom: 0%;
        font-size: 14px;
        /*border: 1px solid white;*/
    
    }
    
    .menu > li {

        padding: 4px;
        /*border: 1px solid white;*/
    
    }
    
    .menu > li > a{

        /*border: 1px solid white;*/
    
    }
    
    .menu > li > a:hover {

        /*border: 1px solid white;*/
    
    }
    
    .box1 {
    
        width: 100%;
        height: fit-content;
        /*border: 1px solid white;*/
        
    }
    
    .t-chi {

        font-size: 28.5px;
        width: 100%;
        height: fit-content;
        padding: 10px 0px 10px 0px;
        /*border: 2px solid white;*/
    
    }
    
    .box2 {
    
        width: 100%;
        height: fit-content;
        /*border: 1px solid white;*/
    
    }
    
    .immagine1 {
    
        width: 100%;
        height: fit-content;
        padding: 40px 0px 40px 0px;
        /*border: 1px solid white;*/
        
       
    
    }
    
    .img1 {
    
        width: 200px;
        height: 200px;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        /*border: 1px solid white;*/
        
    }
    
    .t-master {

        font-size: 25px;
        width: 100%;
        padding: 0px 0px 10px 0px;
        /*border: 1px solid white;*/
    
    }
    
    .t-leonardo {

        font-size: 20px;
        width: 100%;
        padding: 0px 0px 20px 0px;
        /*border: 1px solid white;*/
    
    }
    
    .box3 {
    
        width: 100%;
        height: fit-content;
        /*border: 1px solid white;*/
    
    }
    
    .immagine2 {
    
        width: 100%;
        height: fit-content;
        padding: 40px 0px 40px 0px;
        /*border: 1px solid white;*/
    
    }
    
    .img2 {
    
        width: 200px;
        height: 200px;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        /*border: 1px solid white;*/
    
    }
    
    .t-designer {

        font-size: 25px;
        width: 100%;
        padding: 0px 0px 10px 0px;
        /*border: 1px solid white;*/
    
    }
    
    .t-matteo {

        font-size: 20px;
        width: 100%;
        padding: 0px 0px 20px 0px;
        /*border: 1px solid white;*/
    
    }
    
    .box4 {
    
        width: 100%;
        height: fit-content;
        /*border: 1px solid white;*/
    
    }
    
    .immagine3 {
    
        width: 100%;
        height: fit-content;
        padding: 40px 0px 40px 0px;
        /*border: 1px solid white;*/
    
    }
    
    .img3 {
    
        width: 200px;
        height: 200px;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        /*border: 1px solid white;*/
    
    }
    
    .t-architect {

        font-size: 25px;
        width: 100%;
        padding: 0px 0px 10px 0px;
        /*border: 1px solid white;*/
    
    }
    
    .t-valerio {

        font-size: 20px;
        width: 100%;
        padding: 0px 0px 20px 0px;
        /*border: 1px solid white;*/
    
    }
    
    .box5 {

        /*border: 1px solid white;*/
    
    }
    
    .t-footer {

        font-size: 12px;
        /*border: 1px solid white;*/
       
    }
}