@media (min-width: 768px) and (max-width: 1024px){

    *{

        /*border: 1px solid white;*/
    
    }
    
    body, html {

        /*border: 1px solid white;*/
    
    }
    
    .area {

        /*border: 1px solid white;*/
    
    }
    
    .box {

        /*border: 1px solid white;*/
    
    }
    
    .box0 {
        
        /*border: 1px solid white;*/
        
    }
    
    .banner-img {
 
        /*border: 1px solid white;*/
        
    }
    
    .titolo-img {

        font-size: 18px;
        /*border: 1px solid white;*/
        
    }
    
    .menu {

        text-align: center;
        top: 60%;
        right: 0%;
        left: 0%;
        bottom: 0%;
        /*border: 1px solid white;*/
    
    }
    
    .menu > li {

        /*border: 1px solid white;*/
    
    }
    
    .menu > li > a{

        /*border: 1px solid white;*/
    
    }
    
    .menu > li > a:hover {

        /*border: 1px solid white;*/
    
    }
    
    .box1 {
    
        width: 100%;
        height: fit-content;
        padding: 5px 0px 5px 0px;
        /*border: 1px solid white;*/
        
    }
    
    .t-chi {

        font-size: 36.5px;
        width: 100%;
        height: fit-content;
        padding: 10px 0px 10px 0px;
        /*border: 1px solid white;*/
    
    }
    
    .box2 {
    
        width: 33.33333333333333%;
        height: 400px;
        /*border: 1px solid white;*/
    
    }
    
    .immagine1 {

        /*border: 1px solid white;*/
    
    }
    
    .img1 {
    
        width: 200px;
        height: 200px;
        /*border: 1px solid white;*/
    
    }
    
    .t-master {

        font-size: 25px;
        top: -10%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*border: 1px solid white;*/
    
    }
    
    .t-leonardo {

        font-size: 20px;
        top: -10%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*border: 1px solid white;*/
    
    }
    
    .box3 {
    
        width: 33.33333333333333%;
        height: 400px;
        /*border: 1px solid white;*/
    
    }
    
    .immagine2 {

        /*border: 1px solid white;*/
    
    }
    
    .img2 {
    
        width: 200px;
        height: 200px;
        /*border: 1px solid white;*/
    
    }
    
    .t-designer {

        font-size: 25px;
        top: -10%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*border: 1px solid white;*/
    
    }
    
    .t-matteo {

        font-size: 20px;
        top: -10%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*border: 1px solid white;*/
    
    }
    
    .box4 {
    
        width: 33.33333333333333%;
        height: 400px;
        /*border: 1px solid white;*/
    
    }
    
    .immagine3 {

        /*border: 1px solid white;*/
    
    }
    
    .img3 {
    
        width: 200px;
        height: 200px;
        /*border: 1px solid white;*/
    
    }
    
    .t-architect {

        font-size: 25px;
        top: -10%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*border: 1px solid white;*/
    
    }
    
    .t-valerio {

        font-size: 20px;
        top: -10%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*border: 1px solid white;*/
    
    }
    
    .box5 {

        /*border: 1px solid white;*/
    
    }
    
    .t-footer {

        font-size: 16px;
        /*border: 1px solid white;*/
       
    }
}